@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Permanent+Marker|Roboto:100,300,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic,cyrillic-ext');
@font-face {
    font-family: "Bebas Neue Regular";
    src: url('../fonts/BebasNeue.ttf');
}

/*Global styles*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background: rgba(10,10,10,1);
    background: -moz-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(36,36,36,1) 12%, rgba(51,48,51,1) 25%, rgba(54,50,54,1) 39%, rgba(56,56,56,1) 50%, rgba(56,55,56,1) 51%, rgba(51,49,51,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(36,36,36,1) 12%, rgba(51,48,51,1) 25%, rgba(54,50,54,1) 39%, rgba(56,56,56,1) 50%, rgba(56,55,56,1) 51%, rgba(51,49,51,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(36,36,36,1) 12%, rgba(51,48,51,1) 25%, rgba(54,50,54,1) 39%, rgba(56,56,56,1) 50%, rgba(56,55,56,1) 51%, rgba(51,49,51,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(36,36,36,1) 12%, rgba(51,48,51,1) 25%, rgba(54,50,54,1) 39%, rgba(56,56,56,1) 50%, rgba(56,55,56,1) 51%, rgba(51,49,51,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to right, rgba(10,10,10,1) 0%, rgba(36,36,36,1) 12%, rgba(51,48,51,1) 25%, rgba(54,50,54,1) 39%, rgba(56,56,56,1) 50%, rgba(56,55,56,1) 51%, rgba(51,49,51,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../img/hero_2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


:root {
    --x: 0px;
    --y: 0px;
    --main-yellow-color: #ffec42;
    --main-white: #ffffff;
    --main-font-dark-gray: #4d4d4d;
    --main-font-light-gray: #e4e4e4;
    --main-footer-bg-color: #141414;
    --main-font-family: "Roboto", sans-serif;
    --main-logo-font: "Abril Fatface", cursive;
    --main-cursive-font: "Permanent Marker", cursive;
}

section {
    padding: 3rem 0 0 0;
}

p {
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--main-font-light-gray);
}

a {
    text-decoration: none;
    color: var(--main-white);
}
/*Reusable classes*/
.btn {
    display: inline-block;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.custom-font {
    font-family: var(--main-font-family);
    color: var(--main-white);
    display: none;
}

.custom-font-secondary {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 3rem;
    color: var(--main-white);
    border-top: 3px solid var(--main-font-dark-gray);
    display: inline-block;
}

.custom-font-secondary::first-letter {
    color: var(--main-yellow-color);
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.container .custom-font-secondary {
    text-align: center;
}

.container p {
    text-align: justify;
}

.icon {
    color: white;
}

/*Header*/
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .9), transparent),
                url("../img/hero.jpg") bottom no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
}

.main-btn {
    font-size: 1.5rem;
    border: 2px solid var(--main-yellow-color);
    padding: 2rem 2.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    position: relative;
    margin-top: 5rem;
    transition: all .5s;
    border-radius: 25px;
}

.main-btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.main-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}


/*Header - Nav Toggle*/
.menu {
    padding: 2rem 2.5rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    border-radius: 3px;
    cursor: pointer;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 4rem;
    background-color: var(--main-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .5s;
}

.menu .bar::before {
    top: -2rem;
}

.menu .bar::after {
    top: 2rem;
}

.active .bar {
    background-color: transparent;
}

.active .bar::before {
    transform: rotate(225deg);
}

.active .bar::after {
    transform: rotate(-225deg);

}

.active .bar::before,
.active .bar::after {
    top: 0;
}

.nav {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    transition: all .5s;
    transform: scale(0);
    opacity: 0;
}

.overlay.menu-open {
    transform: scale(1);
    opacity: 1;
}

.nav .overlay ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav .overlay ul li {
    text-transform: uppercase;
    
}

.nav .overlay ul li a:after {
    display:block;
    content: '';
    margin-top: -20px;
    border-bottom: solid 3px #f5e613;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav .overlay ul li a:hover:after {
    transform: scaleX(1);
    transform-origin:100% 50%;
}

.nav .overlay ul li a {
    display: block;
    font-size: 2rem;
    transition: all .5s;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Bebas Neue Regular', sans-serif;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:active {
    border-bottom-color: var(--main-yellow-color);
}


/*Header - Nav*/

/*Header - Main Text*/
.header-text {
    line-height: 0;
    margin: 0;
    color: var(--main-white);
    user-select: none;
}

.header-text h1 {
    margin-bottom: 3rem;
    font-family: var(--main-logo-font);
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
}

.header-text h1 span {
    font-size: 6rem;
}

.header-text h2 {
    font-family: var(--main-cursive-font);
    color: var(--main-yellow-color);
    font-size: 2rem;
    position: relative;
}

/*Section - About*/
.main-about {
    background: rgba(10,10,10,.8);
    background: -moz-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: -webkit-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: -o-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: -ms-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: linear-gradient(to right, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
}

.main-about .container {
    max-width: 800px;
}

.main-about__video-container-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.main-about__video-container {
    margin-top: 2.5rem;
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    width: 100%;
}
    
.main-about__video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Section - Gallery*/
.main-gallery {
    
}

.swiper-container.swiper-container-gallery {
    width: 100%;
    padding-top: .1rem;
    padding-bottom: 35px;
}

.swiper-slide.swiper-slide-gallery {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
}

.swiper-container.swiper-container-videos {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 35px;
}

.swiper-slide.swiper-slide-videos {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev {
    color: var(--main-yellow-color);
}

.zoomable {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(225, 225, 225, .6);
    transition: all .5s;
    transform: scale(0);
    opacity: 0;
}

.zoomable.zoomable--active {
    opacity: 1;
    transform: scale(1);
}

.zoomable-image-wrapper {
    position: relative;
    display: block;
    width: 95%;
    max-width: 650px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

.zoomable-image {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

/*Section - Videos*/
.main-videos {
    background: rgba(10,10,10,.8);
    background: -moz-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: -webkit-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: -o-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: -ms-linear-gradient(left, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
    background: linear-gradient(to right, rgba(10,10,10,.8) 0%, rgba(36,36,36,.8) 12%, rgba(51,48,51,.8) 25%, rgba(54,50,54,.8) 39%, rgba(56,56,56,.8) 50%, rgba(56,55,56,.8) 51%, rgba(51,49,51,.8) 60%, rgba(43,43,43,.8) 76%, rgba(28,28,28,.8) 91%, rgba(19,19,19,.8) 100%);
}


/*Section - Order*/
.input,
.text-area {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 10px auto;
    padding: 5px 1rem;
    font-size: 1.5rem;
    border: 2px solid var(--main-font-light-gray);
    border-radius: 2px;
    background: rgba(255, 255, 255, .9);
    color: #878787;
}

.input::placeholder,
.text-area::placeholder {
    color: #878787;
}

.text-area {
    height: 10rem;
}

.btn-submit {
    display: block;
    background-color: rgba(255, 255, 255, .9);
    color: var(--main-font-dark-gray);
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: -2px 8px 22px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: -2px 8px 22px -3px rgba(0,0,0,0.34);
    box-shadow: -2px 8px 22px -3px rgba(0,0,0,0.34);
    transition: all .5s;
}

.btn-submit:hover {
    background: rgba(104, 104, 104, 0.9);
    color: var(--main-white);
    border-color: transparent;
}

.btn-submit:focus {
    outline: none;
}

/*Footer*/

/*Media queries*/
